<div class="navigation">
	位置：
	<a href="#">首页</a>
	&gt;
	<a href="#custommgrlist">客户管理</a>
	&gt;
	录入客户
</div>
<div ng-show="!isReady">
	加载中...
</div>
<form name="form" novalidate="novalidate" ng-show="isReady">
<input type="hidden" name="id" value="{{custom.id}}" />
<div class="content">
	<div class="mytable">
		<div class="title">
			<span>
				基本信息
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="td-odd">客户名称：</td>
					<td class="td-even" colspan="3">
						<span ng-show="custom.id">
							<span>{{ custom.customName }}</span>
						</span>
						<span ng-show="!custom.id">
							<input 
									name="customName" 
									ng-model="custom.customName"
									required
									ng-maxlength="100"
									class="form-input" />
						</span>
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>所属行业：</td>
					<td class="td-even" colspan="3">
						<input 
								name="industry" 
								ng-model="custom.industry"
								required
								ng-maxlength="200"
								class="form-input" />
					</td>
				</tr>
				<tr>
					<td class="td-odd">客户来源：</td>
					<td class="td-even">
						<span ng-show="custom.id">
							{{ custom.source }}
						</span>
						<span ng-show="!custom.id">
							<input 
									name="source" 
									ng-model="custom.source"
									ng-maxlength="100"
									class="form-input" />
						</span>
					</td>
					<td class="td-odd">客户状态：</td>
					<td class="td-even">
						<select 
								name="state" 
								ng-model="custom.state">
							<option value="签约运作">签约运作</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>执行团队：</td>
					<td class="td-even" colspan="3">
						<input 
									name="team" 
									ng-model="custom.team"
									required
									ng-maxlength="40"
									class="form-input" />
						<div class="btn btn-lblue">添加成员</div>
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>联系人名：</td>
					<td class="td-even">
						<input 
									name="contactName"
									ng-model="custom.contactName"
									required
									ng-maxlength="100"
									class="form-input" />
					</td>
					<td class="td-odd"><span class="warn">*</span>担任职务：</td>
					<td class="td-even">
						<input 
									name="contactDuty"
									ng-model="custom.contactDuty"
									required
									ng-maxlength="100"
									class="form-input" />
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>座机号码：</td>
					<td class="td-even">
						<input 
									name="contactLandline"
									ng-model="custom.contactLandline"
									required
									ng-maxlength="100"
									class="form-input" />
					</td>
					<td class="td-odd">手机号码：</td>
					<td class="td-even">
						<input 
									name="contactCellphone"
									ng-model="custom.contactCellphone"
									ng-maxlength="100"
									class="form-input" />
					</td>
				</tr>
				<tr>
					<td class="td-odd">Fax传真：</td>
					<td class="td-even">
						<input 
									name="contactFax"
									ng-model="custom.contactFax"
									ng-maxlength="100"
									class="form-input" />
					</td>
					<td class="td-odd">电子邮件：</td>
					<td class="td-even">
						<input 
									name="contactEmail"
									ng-model="custom.contactEmail"
									type="email"
									ng-maxlength="100"
									class="form-input" />
					</td>
				</tr>
				<tr>
					<td class="td-odd">QQ：</td>
					<td class="td-even">
						<input 
									name="contactQq"
									ng-model="custom.contactQq"
									ng-maxlength="100"
									class="form-input" />
					</td>
					<td class="td-odd">微信：</td>
					<td class="td-even">
						<input 
									name="contactWeixin"
									ng-model="custom.contactWeixin"
									ng-maxlength="100"
									class="form-input" />
					</td>
				</tr>
				<tr>
					<td class="td-odd">公司地址：</td>
					<td class="td-even">
						<input 
									name="contactAddress"
									ng-model="custom.contactAddress"
									ng-maxlength="200"
									class="form-input" />
					</td>
					<td class="td-odd">网址：</td>
					<td class="td-even">
						<input 
									name="contactWebsite"
									ng-model="custom.contactWebsite"
									ng-maxlength="100"
									class="form-input" />
					</td>
				</tr>
				<tr>
					<td class="td-odd">客户资料：</td>
					<td class="td-even" colspan="3">
						<div class="attach">
							<a>北京.doc</a>
							<br/>
							<a>北京.doc</a>
						</div>
						<div class="btn btn-lblue">浏览</div>
					</td>
				</tr>
				<tr>
					<td class="td-odd">公司介绍：</td>
					<td class="td-even" colspan="3">
						<textarea 	class="textarea"
									name=companyProfile
									ng-model="custom.companyProfile"
									ng-maxlength="500"></textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>
				添加沟通记录
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td colspan="2">
						沟通记录：
						<textarea class="textarea"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<div class="btn btn-lblue" ng-show="!isrequest" ng-click="saveAndAddContract();">保存客户信息并添加新合同</div>
						<div class="btn btn-blank" ng-show="isrequest">操作中...</div>
					</td>
					<td>
						<div class="btn btn-lblue" ng-show="!isrequest" ng-click="save();">保存客户信息</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div core-formresult></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>

</form>