<div class="navigation">
	位置：
	<a href="#">首页</a>
	&gt;
	<a href="#custommgrlist">客户管理</a>
	&gt;
	录入客户
</div>
<div class="content">

	<div class="mytable">
		<div class="title">
			<span>
				基本信息
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="tr-odd">客户名称：</td>
					<td class="tr-even" colspan="3">北京岩石科技</td>
				</tr>
				<tr>
					<td class="tr-odd"><span class="warn">*</span>所属行业：</td>
					<td class="tr-even" colspan="3">
						<input name="" class="form-input" />
					</td>
				</tr>
				<tr>
					<td class="tr-odd">客户来源：</td>
					<td class="tr-even">广告呼入</td>
					<td class="tr-odd">客户状态：</td>
					<td class="tr-even">
						<select>
							<option>签约运作</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="tr-odd"><span class="warn">*</span>执行团队：</td>
					<td class="tr-even" colspan="3">
						<input name="" class="form-input" />
						<div class="btn btn-lblue">添加成员</div>
					</td>
				</tr>
				<tr>
					<td class="tr-odd"><span class="warn">*</span>联系人名：</td>
					<td class="tr-even">
						<input name="" class="form-input" />
					</td>
					<td class="tr-odd"><span class="warn">*</span>担任职务：</td>
					<td class="tr-even">
						<input name="" class="form-input" />
					</td>
				</tr>
				<tr>
					<td class="tr-odd"><span class="warn">*</span>座机号码：</td>
					<td class="tr-even">
						<input name="" class="form-input" />
					</td>
					<td class="tr-odd">手机号码：</td>
					<td class="tr-even">
						<input name="" class="form-input" />
					</td>
				</tr>
				<tr>
					<td class="tr-odd">Fax传真：</td>
					<td class="tr-even">
						<input name="" class="form-input" />
					</td>
					<td class="tr-odd">电子邮件：</td>
					<td class="tr-even">
						<input name="" class="form-input" />
					</td>
				</tr>
				<tr>
					<td class="tr-odd">QQ：</td>
					<td class="tr-even">
						<input name="" class="form-input" />
					</td>
					<td class="tr-odd">微信：</td>
					<td class="tr-even">
						<input name="" class="form-input" />
					</td>
				</tr>
				<tr>
					<td class="tr-odd">公司地址：</td>
					<td class="tr-even">
						<input name="" class="form-input" />
					</td>
					<td class="tr-odd">网址：</td>
					<td class="tr-even">
						<input name="" class="form-input" />
					</td>
				</tr>
				<tr>
					<td class="tr-odd">客户资料：</td>
					<td class="tr-even" colspan="3">
						<div class="attach">
							<a>北京.doc</a>
							<br/>
							<a>北京.doc</a>
						</div>
						<div class="btn btn-lblue">浏览</div>
					</td>
				</tr>
				<tr>
					<td class="tr-odd">公司介绍：</td>
					<td class="tr-even" colspan="3">
						<textarea class="textarea"></textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>
				添加沟通记录
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td colspan="2">
						沟通记录：
						<textarea class="textarea"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<div class="btn btn-lblue">保存客户信息并添加新合同</div>
					</td>
					<td>
						<div class="btn btn-lblue">保存客户信息</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>