<div class="navigation">
	位置：
	<a href="#">首页</a>
	&gt;
	<a href="#custommgrlist">客户管理</a>
	&gt;
	客户信息
</div>
<div class="content">
	<div class="mytable">
		<div class="title">
			<span>
				客户详情（客户编号：11211）
			</span>
			
			<a class="spe" href="#custommgr/editcustom/1">编辑客户信息</a>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="tr-odd">客户名称：</td>
					<td class="tr-even">北京岩石科技</td>
					<td class="tr-odd">所属行业：</td>
					<td class="tr-even">房地产开发</td>
				</tr>
				<tr>
					<td class="tr-odd">客户来源：</td>
					<td class="tr-even">广告</td>
					<td class="tr-odd">联系人：</td>
					<td class="tr-even">石头</td>
				</tr>
				<tr>
					<td class="tr-odd">联系方式：</td>
					<td class="tr-even">15621545112</td>
					<td class="tr-odd">电子邮件：</td>
					<td class="tr-even">test@test.com</td>
				</tr>
				<tr>
					<td class="tr-odd">QQ：</td>
					<td class="tr-even">15621545112</td>
					<td class="tr-odd">微信：</td>
					<td class="tr-even">13412412</td>
				</tr>
				<tr>
					<td class="tr-odd">创建时间：</td>
					<td colspan="3" class="tr-even">2015-01-01 15:22</td>
				</tr>
				<tr>
					<td class="tr-odd">公司地址：</td>
					<td class="tr-even">大陆上</td>
					<td class="tr-odd">网址：</td>
					<td class="tr-even">www.baidu.com</td>
				</tr>
				<tr>
					<td class="tr-odd">客户资料：</td>
					<td colspan="3" class="tr-even">
						<a href="www.baidu.com">协议书.doc</a>
					</td>
				</tr>
				<tr>
					<td class="tr-odd">公司介绍：</td>
					<td colspan="3" class="tr-even">
						国内第一
					</td>
				</tr>
				<tr>
					<td class="tr-odd">客户状态：</td>
					<td class="tr-even">签约运作</td>
					<td class="tr-odd">执行团队：</td>
					<td class="tr-even">李华、立定</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>
				合同详情（合同编号：123124123）
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="tr-odd">签约日期：</td>
					<td class="tr-even">2015-01-01</td>
					<td class="tr-odd">签约比例：</td>
					<td class="tr-even">30%</td>
				</tr>
				<tr>
					<td class="tr-odd">支付方式：</td>
					<td class="tr-even">全款</td>
					<td class="tr-odd">保用期限：</td>
					<td class="tr-even">3个月</td>
				</tr>
				<tr>
					<td class="tr-odd">其他要求：</td>
					<td colspan="3" class="tr-even"></td>
				</tr>
				<tr>
					<td class="tr-odd">合同附件：</td>
					<td colspan="3" class="tr-even">
						<a href="www.baidu.com">协议书.doc</a><br/>
						<a href="www.baidu.com">协议书2.doc</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>
				合作职位情况
			</span>
			
			<a class="spe" href="#jobmgr/injob">发布新职位</a>
		</div>
		<table>
			<thead>
				<tr>
					<th>招聘职位</th>
					<th>职位状态</th>
					<th>职位年薪</th>
					<th>工作地点</th>
					<th>汇报对象</th>
					<th>执行团队</th>
					<th>需求人数</th>
					<th>创建时间</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>工程造价师</td>
					<td>运作</td>
					<td>10-30万</td>
					<td>沈阳</td>
					<td>总经理</td>
					<td>李华、周天</td>
					<td>2</td>
					<td>2012-11-11 12：12</td>
				</tr>
				<tr>
					<td>工程造价师</td>
					<td>运作</td>
					<td>10-30万</td>
					<td>沈阳</td>
					<td>总经理</td>
					<td>李华、周天</td>
					<td>2</td>
					<td>2012-11-11 12：12</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>
				客户沟通记录
			</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>执行人</th>
					<th>内容</th>
					<th>时间</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>李华</td>
					<td>企业干什么了</td>
					<td>2015-12-12 12:12</td>
				</tr>
				<tr>
					<td>李华</td>
					<td>企业干什么了</td>
					<td>2015-12-12 12:12</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>
				添加沟通记录
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td>
						<textarea class="textarea"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<div class="btn btn-lblue">确认添加</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>