<div class="navigation">
	位置：
	<a href="#">首页</a>
	&gt;
	<a href="#custommgrlist">客户管理</a>
	&gt;
	客户信息
</div>
<div class="content">
	<div class="mytable">
		<div class="title">
			<span>
				客户详情（客户编号：{{custom.id}}）
			</span>
			
			<a class="spe" href="#custommgr/editcustom/{{custom.id}}">编辑客户信息</a>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="td-odd">客户名称：</td>
					<td class="td-even">{{custom.customName}}</td>
					<td class="td-odd">所属行业：</td>
					<td class="td-even">{{custom.industry}}</td>
				</tr>
				<tr>
					<td class="td-odd">客户来源：</td>
					<td class="td-even">{{custom.source}}</td>
					<td class="td-odd">联系人：</td>
					<td class="td-even">{{custom.contactName}}</td>
				</tr>
				<tr>
					<td class="td-odd">联系方式：</td>
					<td class="td-even">
						座机：{{custom.contactLandline}} <br/>
						手机：{{custom.contactCellphone}}
					</td>
					<td class="td-odd">电子邮件：</td>
					<td class="td-even">{{custom.contactEmail}}</td>
				</tr>
				<tr>
					<td class="td-odd">QQ：</td>
					<td class="td-even">{{custom.contactQq}}</td>
					<td class="td-odd">微信：</td>
					<td class="td-even">{{custom.contactWeixin}}</td>
				</tr>
				<tr>
					<td class="td-odd">创建时间：</td>
					<td colspan="3" class="td-even">{{custom.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
				</tr>
				<tr>
					<td class="td-odd">公司地址：</td>
					<td class="td-even">{{custom.contactAddress}}</td>
					<td class="td-odd">网址：</td>
					<td class="td-even">{{custom.contactWebsite}}</td>
				</tr>
				<tr>
					<td class="td-odd">客户资料：</td>
					<td colspan="3" class="td-even">
						<div ng-repeat="atta in attas">
							{{atta.name}} <br/>
						</div>
					</td>
				</tr>
				<tr>
					<td class="td-odd">公司介绍：</td>
					<td colspan="3" class="td-even">
						{{custom.companyProfile}}
					</td>
				</tr>
				<tr>
					<td class="td-odd">客户状态：</td>
					<td class="td-even">{{custom.state}}</td>
					<td class="td-odd">执行团队：</td>
					<td class="td-even">
						<span ng-repeat="team in teams">
							{{team.name}},
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div ng-show="!contract" class="mytable">
		<div class="title">
			<span>
				无合同信息
			</span>
		</div>
	</div>
	<div ng-show="contract" class="mytable">
		<div class="title">
			<span>
				合同详情（合同编号：{{contract.id}}）
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="td-odd">签约日期：</td>
					<td class="td-even">{{contract.inDate | date : 'yyyy-MM-dd'}}</td>
					<td class="td-odd">签约比例：inPercentage</td>
					<td class="td-even">{{contract.}}</td>
				</tr>
				<tr>
					<td class="td-odd">支付方式：</td>
					<td class="td-even">{{contract.payway}}</td>
					<td class="td-odd">保用期限：</td>
					<td class="td-even">{{contract.useLimit}}</td>
				</tr>
				<tr>
					<td class="td-odd">首付款：</td>
					<td colspan="3" class="td-even">
						{{contract.firstPay}}
					</td>
				</tr>
				<tr>
					<td class="td-odd">其他要求：</td>
					<td colspan="3" class="td-even">
						{{contract.otherRequire}}
					</td>
				</tr>
				<tr>
					<td class="td-odd">合同附件：</td>
					<td colspan="3" class="td-even">
						<div ng-repeat="atta in contractAttas">
							{{atta.name}} <br/>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>
				合作职位情况
			</span>
			<a class="spe" href="#jobmgr/injob/{{custom.id}}">发布新职位</a>
		</div>
		<table>
			<thead>
				<tr>
					<th>招聘职位</th>
					<th>职位状态</th>
					<th>职位年薪</th>
					<th>工作地点</th>
					<th>汇报对象</th>
					<th>执行团队</th>
					<th>需求人数</th>
					<th>创建时间</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="job in jobs">
					<td>{{job.name}}</td>
					<td>{{job.state}}</td>
					<td>{{job.payMin}} - {{job.payMin}} 万</td>
					<td>{{job.workplace}}</td>
					<td>{{job.reportObj}}</td>
					<td>{{job.team}}</td>
					<td>{{job.requirePeople}}</td>
					<td>{{job.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>
				客户沟通记录
			</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>执行人</th>
					<th>内容</th>
					<th>时间</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="comm in comms">
					<td>{{comm.create_user}}</td>
					<td>{{comm.content}}</td>
					<td>{{comm.create_time | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>
				添加沟通记录
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td>
						<textarea class="textarea"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<div class="btn btn-lblue" ng-click="addComm();">确认添加</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>