<div class="navigation">
	位置：
	<a href="#">首页</a>
	&gt;
	客户管理
</div>
<div class="content">
	<div class="searchzone">
		<div class="title"><i class="fa fa-users"></i>&nbsp;客户管理</div>
		<div class="line">
			<div class="desc">客户行业：</div>
			<div class="vals">
				<a>房地产开发/建筑与工程</a>
				<a>金融业(投资/保险/证券/银行/基金)</a>
			</div>
		</div>
		<div class="line">
			<div class="desc">客户来源：</div>
			<div class="vals">
				<a>广告呼入</a>
				<a>主动BD</a>
				<a>机构合作</a>
				<a>人脉推荐</a>
			</div>
			<div class="desc">客户状态：</div>
			<div class="vals">
				<a>潜在客户</a>
				<a>签约运作</a>
				<a>签约暂停</a>
				<a>签约终止</a>
			</div>
		</div>
		<div class="line border-none">
			<div class="desc">创建时间：</div>
			<div class="vals">
				<input name="searchCreateTimeStart" />
				至
				<input name="searchCreateTimeEnd" />
			</div>
			<div class="desc">公司名称：</div>
			<div class="vals">
				<input name="searchCompanyName" />
				<div class="btn btn-lblue">搜索</div>
			</div>
		</div>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>总数 ：
				<span class="highlight">{{total}}</span>
			 	个
			 </span>
			
			<a class="spe" href="#custommgr/incustom">录入新客户</a>
			
			<a class="common">其他客户</a>
			<a class="common">合作客户</a>
			<a class="common">我的客户</a>
			
		</div>
		<table class="my-table" ng-table="tableParams" template-pagination="custom/pager">
			<thead>
				<tr>
					<th>客户来源</th>
					<th>公司名称</th>
					<th>联系人</th>
					<th>联系电话</th>
					<th>职位数</th>
					<th>执行团队</th>
					<th>客户状态</th>
					<th>附件</th>
					<th>创建时间</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="!customs"><td colspan="4">加载中...</td></tr>
				<tr ng-repeat="item in customs" ng-class="{true:'tr-odd' , false: 'tr-even'}[$index%2 == 0]">
					<td>{{ item.source }}</td>
					<td>
						<a class="link" 
						href="#custommgr/viewcustom/{{item.id}}">{{ item.custom_name }}</a></td>
					<td>{{ item.contact_name }}</td>
					<td>{{ item.contact_cellphone == null ? item.contact_landline : item.contact_cellphone}}</td>
					<td>待实现</td>
					<td>{{ item.team }}</td>
					<td>{{ item.state }}</td>
					<td></td>
					<td>{{ item.create_time | date : 'yyyy-MM-dd HH:mm '}}</td>
					
					<td>
						<a class="btn btn-lblue" href="#custommgr/editcustom/{{item.id}}">编辑</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>