<div class="navigation">
	位置：
	<a href="#">首页</a>
	&gt;
	<a href="#custommgrlist">客户管理</a>
	&gt;
	客户信息
</div>
<div class="content">
	<div class="mytable">
		<div class="title">
			<span>
				客户详情（客户编号：{{custom.id}}）
			</span>
			
			<a ng-if="beyond=='my'" class="spe" href="#custommgr/editcustom/{{custom.id}}">编辑客户信息</a>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="td-odd">客户名称：</td>
					<td class="td-even">{{custom.customName}}</td>
					<td class="td-odd">所属行业：</td>
					<td class="td-even">{{custom.industry}}</td>
				</tr>
				<tr>
					<td class="td-odd">客户来源：</td>
					<td class="td-even">{{custom.source}}</td>
					<td class="td-odd">联系人：</td>
					<td class="td-even">{{custom.contactName}}</td>
				</tr>
				<tr>
					<td class="td-odd">联系方式：</td>
					<td class="td-even">
						座机：{{custom.contactLandline}} <br/>
						手机：{{custom.contactCellphone}}
					</td>
					<td class="td-odd">电子邮件：</td>
					<td class="td-even">{{custom.contactEmail}}</td>
				</tr>
				<tr>
					<td class="td-odd">QQ：</td>
					<td class="td-even">{{custom.contactQq}}</td>
					<td class="td-odd">微信：</td>
					<td class="td-even">{{custom.contactWeixin}}</td>
				</tr>
				<tr>
					<td class="td-odd">公司地址：</td>
					<td class="td-even">{{custom.contactAddress}}</td>
					<td class="td-odd">网址：</td>
					<td class="td-even">{{custom.contactWebsite}}</td>
				</tr>
				<tr>
					<td class="td-odd">客户资料：</td>
					<td colspan="3" class="td-even">
						<div ng-repeat="atta in attas">
							<a class="link" href="download/{{atta.id}}" target="_blank">{{atta.name}}</a><br/>
						</div>
					</td>
				</tr>
				<tr>
					<td class="td-odd">公司介绍：</td>
					<td colspan="3" class="td-even">
						{{custom.companyProfile}}
					</td>
				</tr>
				<tr>
					<td class="td-odd">客户状态：</td>
					<td class="td-even">{{custom.state}}</td>
					<td class="td-odd">执行团队：</td>
					<td class="td-even">
						<span ng-repeat="team in teams">
							{{team.name}},
						</span>
					</td>
				</tr>
				<tr>
					<td class="td-odd">创建时间：</td>
					<td colspan="3" class="td-even">{{custom.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div ng-show="!contract" class="mytable">
		<div class="title">
			<span>
				无合同信息
			</span>
		</div>
	</div>
	<div ng-show="contract" class="mytable">
		<div class="title">
			<span>
				合同详情（合同编号：{{contract.id}}）
			</span>
			
			<a ng-if="beyond=='my'" class="spe" href="#jobmgr/injob/{{custom.id}}">发布职位</a>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="td-odd">签约日期：</td>
					<td class="td-even">{{contract.in_date | date : 'yyyy-MM-dd'}}</td>
					<td class="td-odd">签约比例：</td>
					<td class="td-even">{{contract.in_percentage}}</td>
				</tr>
				<tr>
					<td class="td-odd">支付方式：</td>
					<td class="td-even">{{contract.payway}}</td>
					<td class="td-odd">保用期限：</td>
					<td class="td-even">{{contract.use_limit}}</td>
				</tr>
				<tr>
					<td class="td-odd">首付款：</td>
					<td colspan="3" class="td-even">
						{{contract.first_pay}}
					</td>
				</tr>
				<tr>
					<td class="td-odd">其他要求：</td>
					<td colspan="3" class="td-even">
						{{contract.other_require}}
					</td>
				</tr>
				<tr>
					<td class="td-odd">合同附件：</td>
					<td colspan="3" class="td-even">
						<div ng-repeat="atta in contractAttas">
							<a class="link" href="download/{{atta.id}}" target="_blank">{{atta.name}}</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable" ng-if="custom.state=='签约运作'">
		<div class="title">
			<span>
				合作职位情况
			</span>
			<a ng-if="beyond=='my'" class="spe" href="#/jobmgr/injob/{{custom.id}}">发布新职位</a>
		</div>
		<table>
			<thead>
				<tr>
					<th>招聘职位</th>
					<th>职位状态</th>
					<th>职位年薪</th>
					<th>工作地点</th>
					<th>汇报对象</th>
					<th>执行团队</th>
					<th>需求人数</th>
					<th>创建时间</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="job in jobs" ng-class="{true:'tr-odd' , false: 'tr-even'}[$index%2 == 0]">
					<td>{{job.name}}</td>
					<td>{{job.state}}</td>
					<td>{{job.pay_min}} - {{job.pay_max}} 万</td>
					<td>{{job.workplace}}</td>
					<td>{{job.report_obj}}</td>
					<td>{{job.team_desc}}</td>
					<td>{{job.require_people}}</td>
					<td>{{job.create_time | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<hr />
	
	<div class="mytable">
		<div class="title">
			<span>
				客户沟通记录
			</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>执行人</th>
					<th>内容</th>
					<th>时间</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="comm in comms" ng-class="{true:'tr-odd' , false: 'tr-even'}[$index%2 == 0]">
					<td style="width: 100px;">{{comm.create_user_desc}}</td>
					<td style="width: auto;">{{comm.content}}</td>
					<td style="width: 200px;">{{comm.create_time | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<hr />
	
	<div class="mytable" ng-if="beyond=='my'">
		<div class="title">
			<span>
				添加沟通记录
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td>
						<form id="addCommForm">
							<textarea name="addContent" ng-model="addContent" class="textarea"></textarea>
						</form>
					</td>
				</tr>
				<tr>
					<td>
						<div class="btn btn-lblue" ng-click="addComm();">确认添加</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div core-formresult result="formresult"></div>
</div>