<div class="navigation">
	位置：
	<a href="#">首页</a>
	&gt;
	<a href="#custommgrlist">客户管理</a>
	&gt;
	录入客户
</div>
<div ng-show="!isReady">
	加载中...
</div>
<form id="customeditform" name="form" ng-show="isReady">
<input type="hidden" name="id" value="{{custom.id}}" />
<div class="content">
	<div class="mytable">
		<div class="title">
			<span>
				基本信息
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="td-odd"><span class="warn">*</span>客户名称：</td>
					<td class="td-even" colspan="3">
						<span>
							<input 
									name="customName" 
									ng-model="custom.customName"
									class="form-input" />
						</span>
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>所属行业：</td>
					<td class="td-even" colspan="3">
						<div
							name="industry"
							core-basedata 
							type="select"
							bind-model="custom.industry"
							key="customIndustry"></div>
					</td>
				</tr>
				<tr>
					<td class="td-odd">客户来源：</td>
					<td class="td-even">
						<div
							name="source"
							core-basedata 
							type="select"
							bind-model="custom.source"
							key="customSource"></div>
					</td>
					<td class="td-odd">客户状态：</td>
					<td class="td-even">
						<div
							name="source"
							core-basedata 
							type="select"
							bind-model="custom.state"
							key="customState"></div>
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>执行团队：</td>
					<td class="td-even" colspan="3">
						<div core-teamselect bindteam="custom.team" teamselect="teamselect"></div>
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>联系人名：</td>
					<td class="td-even">
						<input 
									name="contactName"
									ng-model="custom.contactName"
									class="form-input" />
					</td>
					<td class="td-odd"><span class="warn">*</span>担任职务：</td>
					<td class="td-even">
						<input 
									name="contactDuty"
									ng-model="custom.contactDuty"
									class="form-input" />
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>座机号码：</td>
					<td class="td-even">
						<input 
									name="contactLandline"
									ng-model="custom.contactLandline"
									class="form-input" />
					</td>
					<td class="td-odd">手机号码：</td>
					<td class="td-even">
						<input 
									name="contactCellphone"
									ng-model="custom.contactCellphone"
									class="form-input" />
					</td>
				</tr>
				<tr>
					<td class="td-odd">Fax传真：</td>
					<td class="td-even">
						<input 
									name="contactFax"
									ng-model="custom.contactFax"
									class="form-input" />
					</td>
					<td class="td-odd">电子邮件：</td>
					<td class="td-even">
						<input 
									name="contactEmail"
									ng-model="custom.contactEmail"
									class="form-input" />
					</td>
				</tr>
				<tr>
					<td class="td-odd">QQ：</td>
					<td class="td-even">
						<input 
									name="contactQq"
									ng-model="custom.contactQq"
									class="form-input" />
					</td>
					<td class="td-odd">微信：</td>
					<td class="td-even">
						<input 
									name="contactWeixin"
									ng-model="custom.contactWeixin"
									class="form-input" />
					</td>
				</tr>
				<tr>
					<td class="td-odd">公司地址：</td>
					<td class="td-even">
						<input 
									name="contactAddress"
									ng-model="custom.contactAddress"
									class="form-input" />
					</td>
					<td class="td-odd">网址：</td>
					<td class="td-even">
						<input 
									name="contactWebsite"
									ng-model="custom.contactWebsite"
									class="form-input" />
					</td>
				</tr>
				<tr>
					<td class="td-odd">客户资料：</td>
					<td class="td-even" colspan="3">
						<div class="attach">
							<a>北京.doc</a>
							<br/>
							<a>北京.doc</a>
						</div>
						<div class="btn btn-lblue">浏览</div>
					</td>
				</tr>
				<tr>
					<td class="td-odd">公司介绍：</td>
					<td class="td-even" colspan="3">
						<textarea 	class="textarea"
									name=companyProfile
									ng-model="custom.companyProfile"
									></textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable" ng-show="custom.id">
		<div class="title">
			<span>
				沟通记录
			</span>
		</div>
		<div>
		<table class="my-table">
			<thead>
				<tr>
					<th>内容</th>
					<th>创建时间</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in communs" ng-class="{true:'tr-odd' , false: 'tr-even'}[$index%2 == 0]">
					<td>{{ item.content }}</td>
					<td>{{ item.create_time | date : 'yyyy-MM-dd HH:mm '}}</td>
					<td ng-show="item.ishandling">操作中</td>
					<td ng-show="!item.ishandling">
						<a class="btn btn-small btn-success btn-w4"
							ng-click="item.prepareDel = !item.prepareDel"
							>删除</a>
						<table ng-show="item.prepareDel">
							<tr>
								<td colspan="5"></td>
								<td>
									<a class="btn btn-small btn-danger btn-w4"
										ng-click="delCommun(item);;item.ishandling=true;"
										>确认删除</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>
				添加沟通记录
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="td-odd">沟通记录：</td>
					<td class="td-even" colspan="3">
						<textarea 	class="textarea"
									name=companyProfile
									ng-model="custom.commun"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<div class="btn btn-lblue" ng-show="!isrequest" ng-click="saveAndAddContract();">保存客户信息并添加新合同</div>
						<div class="btn btn-blank" ng-show="isrequest">操作中...</div>
					</td>
					<td>
						<div class="btn btn-lblue" ng-show="!isrequest" ng-click="save();">保存客户信息</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div core-formresult result="formresult"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>

</form>