<div class="navigation">
	位置：
	<a href="#">首页</a>
	&gt;
	团队管理
</div>
<div class="content">
	<div class="searchzone">
		<div class="title"><i class="fa fa-users"></i>&nbsp;我的同事</div>
		<div class="line">
			<div class="desc">擅长行业：</div>
			<div class="vals">
				<div core-basedata
					 type="span"
					 ng-model="search.industry"
					 key="customIndustry"
					 all-select-name="不限"></div>
			</div>
		</div>
		<div class="line">
			<div class="desc">入职时间：</div>
			<div class="vals">
				<div core-basedata
					 type="span"
					 ng-model="search.inyear"
					 key="inyear"
					 all-select-name="不限"></div>
			</div>
		</div>
		<div class="line">
			<div class="desc">所属部门：</div>
			<div class="vals">
				<div core-basedata
					 type="span"
					 ng-model="search.department"
					 key="department"
					 all-select-name="不限"></div>
			</div>
		</div>
		<div class="line">
			<div class="desc">担任职务：</div>
			<div class="vals">
				<div core-basedata
					 type="span"
					 ng-model="search.userduty"
					 key="userduty"
					 all-select-name="不限"></div>
			</div>
		</div>
		
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>总用户数 ：
				<span class="highlight">{{queryParams.total}}</span>
			 	人
			 </span>
		</div>
		<table class="my-cards" ng-table="tableParams" template-pagination="custom/pager">
			<tbody>
				<tr ng-show="!$data"><td colspan="4">加载中...</td></tr>
				<tr>
					<td>
						<div class="my-card" ng-repeat="item in $data">
							<div class="icon fa fa-user fa-5x"></div>
								
							<div class="card-line">姓名：{{item.name}}</div>
							<div class="card-line">电话：{{item.phone}}</div>
							<div class="card-line">邮箱：{{item.email}}</div>
							<div class="card-line">部门：{{item.department}}</div>
							<div class="card-line">职务：{{item.duty}}</div>
							<div class="card-line">隶属团队：{{item.team_desc}}</div>
							<div class="card-line">入职时间：{{item.entry_date}}</div>
							<div class="card-line">状态：{{item.state}}</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>