<div class="navigation">
	位置：
	<a href="#">首页</a>
	&gt;
	<a href="#resumemgrlist">简历管理</a>
	&gt;
	简历详情
</div>
<div class="content">
	<div class="mytable">
		<div class="title">
			<span>
				简历详情
			</span>
			
			<a class="spe" href="#resumemgr/editresume/{{resume.id}}">编辑简历信息</a>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="td-odd">{{resume.name}}</td>
					<td class="td-odd">简历编号：{{resume.id}}</td>
				</tr>
				<tr>
					<td class="td-odd">更新时间：</td>
					<td class="td-even">{{resume.last_update_time | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
				</tr>
				<tr>
					<td class="td-odd">基本概况：</td>
					<td class="td-even">
						{{resume.education}} |
						{{resume.sex}} |
						{{resume.birthcay}} |
						{{resume.marrage}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
				
	<div class="mytable">
		<div class="title">
			<span>
				基本信息
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="td-odd">性别：</td>
					<td class="td-even">
						{{resume.sex}}
					</td>
					<td class="td-odd">生日：</td>
					<td class="td-even">{{resume.birthcay}}</td>
				</tr>
				<tr>
					<td class="td-odd">工作状态：</td>
					<td class="td-even">{{resume.work_state}}</td>
					<td class="td-odd">现居住地：</td>
					<td class="td-even">{{resume.address}}</td>
				</tr>
				<tr>
					<td class="td-odd">最近公司：</td>
					<td class="td-even">{{resumeWorkhistorys[0].company}}</td>
					<td class="td-odd">手机号码：</td>
					<td class="td-even">{{resume.phone}}</td>
				</tr>
				<tr>
					<td class="td-odd">当前行业：</td>
					<td class="td-even">{{target.targetIndustry}}</td>
					<td class="td-odd">电子邮件：</td>
					<td class="td-even">{{resume.email}}</td>
				</tr>
				<tr>
					<td class="td-odd">目前年薪：</td>
					<td class="td-even">未实现</td>
					<td class="td-odd">最高学历：</td>
					<td class="td-even">{{resume.education}}</td>
				</tr>
				
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>
				求职意向
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="td-odd">期望行业：</td>
					<td class="td-even" colspan="3">{{target.targetIndustry}}</td>
				</tr>
				<tr>
					<td class="td-odd">期望职业：</td>
					<td class="td-even" colspan="3">{{target.targetJob}}</td>
				</tr>
				<tr>
					<td class="td-odd">期望地址：</td>
					<td class="td-even" colspan="3">{{target.targetPlace}}</td>
				</tr>
				<tr>
					<td class="td-odd">期望年薪：</td>
					<td class="td-even" colspan="3">{{target.targetPay}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>
				工作经验
			</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>日期</th>
					<th>内容</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="work in resumeWorkhistorys">
					<td>{{work.time_begin}} - {{work.time_end}}</td>
					<td>{{work.content}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>
				教育背景
			</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>日期</th>
					<th>培训机构</th>
					<th>培训课程</th>
					<th>培训内容</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="edu in resumeEdus">
					<td>{{edu.time_begin}} - {{edu.time_end}}</td>
					<td>{{edu.org}}</td>
					<td>{{edu.course}}</td>
					<td>{{edu.content}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>
				语言能力
			</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>语种</th>
					<th>读写能力</th>
					<th>听说能力</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="lan in resumeLanguages">
					<td>{{lan.lan_type}}</td>
					<td>{{lan.read_ab}}</td>
					<td>{{lan.listen_ab}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>
				候选人相关附件
			</span>
		</div>
		<table>
			<tbody>
				<tr ng-repeat="atta in resumeDatas">
					<td colspan="4" class="td-even">
						<a class="link" href="download/{{atta.id}}" target="_blank">{{atta.name}}</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>
				沟通记录
			</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>时间</th>
					<th>内容</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="comm in resumeComms">
					<td>{{comm.create_time | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
					<td>{{comm.content}}</td>
					<td>
						<a class="btn btn-small btn-success"
							ng-click="comm.prepareDel = !comm.prepareDel"
							>删除</a>
						<table ng-show="comm.prepareDel">
							<tr>
								<td colspan="5"></td>
								<td>
									<a class="btn btn-small btn-danger btn-w4"
										ng-click="delComm(comm.id);comm.ishandling=true;"
										>确认删除</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>
				添加沟通记录
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td>
						<textarea class="textarea" ng-model="addcomm"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<div class="btn btn-lblue" ng-click="addComm();">确认添加</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>