<div class="navigation">
	位置：
	<a href="#">首页</a>
	&gt;
	<a href="#invoicemgrlist">发票管理</a>
	&gt;
	申请发票
</div>
<form id="invoiceditform" name="form" ng-show="isReady">
<div class="content">
	<div class="mytable">
		<div class="title">
			<span>
				发票信息
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="td-odd"><span class="warn">*</span>申请人：</td>
					<td class="td-even" colspan="3">
						<div core-teamselect 
							ng-model="invoice.applyUser"
							teamids="invoice.applyUser"
							single="true"></div>
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>申请时间：</td>
					<td class="td-even" colspan="3">
						<input class="form-input" datepicker ng-model="invoice.applyTime" />
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>客户+合同编号：</td>
					<td class="td-even" colspan="3">
						<input class="form-input" ng-model="invoice.customContract" />
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>发票类型：</td>
					<td class="td-even" colspan="3">
						<input name="type" type="radio" ng-model="invoice.type" value="普通发票" />
						普通发票
						<input name="type" type="radio" ng-model="invoice.type" value="专用发票" />
						专用发票
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>发票属性：</td>
					<td class="td-even" colspan="3">
						<select class="form-select" ng-model="invoice.property">
							<option value="服务费">服务费</option>
							<option value="其它">其它</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>发票金额：</td>
					<td class="td-even" colspan="3">
						<input name="total" class="form-input" ng-model="invoice.total"/>
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>发票状态：</td>
					<td class="td-even" colspan="3">
						<div
							name="state"
							core-basedata 
							type="select"
							bind-model="invoice.state"
							key="invoicestate"></div>
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>开票人：</td>
					<td class="td-even" colspan="3">
						<div core-teamselect 
							ng-model="invoice.checkUser"
							teamids="invoice.checkUser"
							single="true"></div>
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>回款状态：</td>
					<td class="td-even" colspan="3">
						<div
							name="state"
							core-basedata 
							type="select"
							bind-model="invoice.incomeState"
							key="incomestate"></div>
					</td>
				</tr>
				<tr>
					<td class="td-odd">备注：</td>
					<td class="td-even" colspan="3">
						<textarea class="textarea"
									name=comment
									ng-model="invoice.comment"
									></textarea>
					</td>
				</tr>
				
				<tr>
					<td colspan="2">
						<div class="btn btn-blank" ng-show="isrequest">操作中...</div>
						<div class="btn btn-lblue" ng-show="!isrequest" ng-click="save();">保存发票信息</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div core-formresult result="formresult"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>

</form>