<div class="navigation">
	位置：
	<a href="#">首页</a>
	&gt;
	<a href="#invoicemgrlist">发票管理</a>
	&gt;
	申请发票
</div>
<form id="invoiceeditform" name="form" ng-show="isReady">
<div class="content">
	<div class="mytable">
		<div class="title">
			<span>
				发票信息
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="td-odd"><span class="warn">*</span>申请人：</td>
					<td class="td-even" colspan="3">
						<div ng-if="USER.userType != '管理员'" core-teamselect 
							ng-model="invoice.applyUser"
							teamids="invoice.applyUser"
							single="true"></div>
						<span ng-if="USER.userType == '管理员'">{{applyUserDesc}}</span>
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>申请时间：</td>
					<td class="td-even" colspan="3">
						<input ng-if="USER.userType != '管理员'" name="applyTime" class="form-input" datepicker ng-model="invoice.applyTime" />
						<span ng-if="USER.userType == '管理员'">{{invoice.applyTime}}</span>
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>客户+合同编号：</td>
					<td class="td-even" colspan="3">
						<div ng-if="USER.userType != '管理员'" core-customcontractselect
							finalval = "invoice.customContract"
							ng-model = "invoice.cc"></div>
						<div ng-if="USER.userType == '管理员'">{{invoice.customContract}}</div>
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>入职人选：</td>
					<td class="td-even" colspan="3">
						<div ng-if="USER.userType != '管理员'" core-contractresumeselect
							finalval = "invoice.resumeDesc"
							ng-model = "invoice.rd"></div>
						<div ng-if="USER.userType == '管理员'">{{invoice.resumeDesc}}</div>
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>发票类型：</td>
					<td class="td-even" colspan="3">
						<div ng-if="USER.userType != '管理员'" 
							dataname="type"
							core-basedata 
							type="select"
							bind-model="invoice.type"
							key="invoicetype"></div>
						<div ng-if="USER.userType == '管理员'" >{{invoice.type}}</div>
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>发票属性：</td>
					<td class="td-even" colspan="3">
						<div ng-if="USER.userType != '管理员'" 
							dataname="property"
							core-basedata 
							type="select"
							bind-model="invoice.property"
							key="invoicepro"></div>
						<div ng-if="USER.userType == '管理员'" >{{invoice.property}}</div>
					</td>
				</tr>
				<tr>
					<td class="td-odd"><span class="warn">*</span>发票金额：</td>
					<td class="td-even" colspan="3">
						<input name="total" ng-if="USER.userType != '管理员'" 
						 class="form-input" ng-model="invoice.total"/>
						<div  ng-if="USER.userType == '管理员'" >{{invoice.total}}</div>
					</td>
				</tr>
				
				
				
				<tr ng-if="USER.userType == '管理员'">
					<td class="td-odd"><span class="warn">*</span>发票状态：</td>
					<td class="td-even" colspan="3">
						<div
							dataname="state"
							core-basedata 
							type="select"
							bind-model="invoice.state"
							key="invoicestate"></div>
					</td>
				</tr>
				<tr ng-if="USER.userType == '管理员'">
					<td class="td-odd"><span class="warn">*</span>开票人：</td>
					<td class="td-even" colspan="3">
						<div core-teamselect 
							ng-model="invoice.checkUser"
							teamids="invoice.checkUser"
							dataname="checkUser"
							single="true"></div>
					</td>
				</tr>
				<tr ng-if="USER.userType == '管理员'">
					<td class="td-odd"><span class="warn">*</span>回款状态：</td>
					<td class="td-even" colspan="3">
						<div
							dataname="incomeState"
							core-basedata 
							type="select"
							bind-model="invoice.incomeState"
							key="incomestate"></div>
					</td>
				</tr>
				<tr ng-if="USER.userType == '管理员'">
					<td class="td-odd">备注：</td>
					<td class="td-even" colspan="3">
						<textarea class="textarea"
									name=comment
									ng-model="invoice.comment"
									></textarea>
					</td>
				</tr>
				<tr ng-if="USER.userType == '管理员' || (USER.userType != '管理员' && invoice.state == '申请中') || !invoice.id ">
					<td colspan="2">
						<div class="btn btn-blank" ng-show="isrequest">操作中...</div>
						<div class="btn btn-lblue" ng-show="!isrequest" ng-click="save();">保存发票信息</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div core-formresult result="formresult"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>

</form>