<div class="navigation">
	位置：
	<a href="#">首页</a>
	&gt;
	<a href="#jobmgrlist">职位管理</a>
	&gt;
	[{{job.name}}]招聘概况
</div>
<div class="content" ng-show="!isReady">
	加载中...
</div>
<div class="content" ng-show="isReady">
	<div class="mytable">
		<div class="title">
			<span>
				{{job.name}}&nbsp;&nbsp;&nbsp;&nbsp;招聘概述 
				&nbsp;&nbsp;&nbsp;&nbsp;
				{{job.createTime | date : 'yyyy-MM-dd HH:mm'}} 发布
				
			</span>
			
			<a ng-show="beyond=='my'" class="spe" href="#jobmgr/editjob/{{job.id}}">编辑职位</a>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="td-odd">职位状态：</td>
					<td class="td-even">{{job.state}}</td>
					<td class="td-odd">推荐概要：</td>
					<td class="td-even">
						向企业推荐{{jobrecstate.all}}人 |
						未处理{{jobrecstate.notHandle}}人|
						<br/> 
						企业面试人{{jobrecstate.mianshi}}|
						企业否决{{jobrecstate.pass}}人 |
						确定录用{{jobrecstate.ok}}人 |
					</td>
				</tr>
			</tbody>
		</table>
	</div>
				
	<div class="mytable">
		<div class="title">
			<span>
				{{job.name}}&nbsp;&nbsp;&nbsp;&nbsp;职位描述
				(职位编号: {{job.id}})
			</span>
			
		</div>
		<table>
			<tbody>
				<tr>
					<td class="td-odd">职位名称：</td>
					<td class="td-even">{{job.name}}</td>
					<td class="td-odd">客户名称：</td>
					<td class="td-even">{{custom.customName}}</td>
				</tr>
				<tr>
					<td class="td-odd">职位年薪：</td>
					<td class="td-even">
						{{job.payMin}}-
						{{job.payMax}}万
					</td>
					<td class="td-odd">工作地点：</td>
					<td class="td-even">{{job.workplace}}</td>
				</tr>
				<tr>
					<td class="td-odd">所属行业：</td>
					<td class="td-even">
						{{job.industry}}
					</td>
					<td class="td-odd">汇报对象：</td>
					<td class="td-even">{{job.reportObj}}</td>
				</tr>
				<tr>
					<td class="td-odd">所属部门：</td>
					<td class="td-even">
						{{job.department}}
					</td>
					<td class="td-odd">年龄要求：</td>
					<td class="td-even">{{job.ageMin}}-{{job.ageMax}}岁</td>
				</tr>
				<tr>
					<td class="td-odd">学历要求：</td>
					<td class="td-even">
						{{job.eduLimit}}
					</td>
					<td class="td-odd">工作年限：</td>
					<td class="td-even">{{job.workYear}}</td>
				</tr>
				<tr>
					<td class="td-odd">执行团队：</td>
					<td class="td-even">
						{{jobTeamDesc}}
					</td>
					<td class="td-odd">咨询电话：</td>
					<td class="td-even">谁的电话？</td>
				</tr>
				<tr>
					<td class="td-odd" colspan="1">职位描述：</td>
					<td class="td-even" colspan="3">
						{{job.jobDesc}}
					</td>
				</tr>
				
			</tbody>
		</table>
	</div>
	
	<hr/>
	
	<div class="mytable">
		<div class="title">
			<span>
				公司内部团队推荐人选
			</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>人选姓名</th>
					<th>最近所在公司</th>
					<th>当前职务</th>
					<th>联系电话</th>
					<th>推荐时间</th>
					<th>推荐人</th>
					<th>推荐状态</th>
					<th ng-show="beyond=='my'">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="!inteams || inteams.length == 0 ">
					<td>无人选</td>
				</tr>
				<tr ng-repeat="item in inteams" ng-class="{true:'tr-odd' , false: 'tr-even'}[$index%2 == 0]">
					<td>{{item.name}}</td>
					<td>未实现</td>
					<td>未实现</td>
					<td>{{item.phone}}</td>
					<td>{{item.recom_time | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
					<td>{{item.recom_user_desc}}</td>
					<td>{{item.recom_state}}</td>
					<td ng-show="beyond=='my'">
						<a
							ng-show="item.recom_state == '待处理' || !item.recom_state "
							class="btn btn-small btn-success btn-w4"
							ng-click="pubResume(item.jid)"
							>投递</a>
						<a 
							ng-show="item.recom_state == '已推荐' "
							class="btn btn-small btn-success btn-w4"
							ng-click="cancleResume(item.jid)"
							>取消投递</a>
							
						<a 
							class="btn btn-small btn-info btn-w4"
							ng-click="loadRJComm(item.jid);"
							>沟通记录</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- 沟通记录 -->
	<div class="widget-team" ng-show="showcommdialog == true">
		<div class="dialog-wrap">
			<div class="dialog">
				<div ng-click="showcommdialog=false;" 
					class="fa fa-2x fa-times close"></div>
				<hr/>
				
				<div ng-click="showRJadd = !showRJadd;"
					class="btn btn-error"
					>添加沟通记录</div>
				<div ng-show="showRJadd">
					<textarea ng-model="addRJCommContent" class="textarea"></textarea>
					<a class="btn btn-success" ng-click="addRJComm();">保存</a>
				</div>
				<hr/>
				
				<div ng-show="!comms || comms.length == 0">无记录</div>
				<div ng-repeat="item in comms">
					<span>{{item.create_date | date:'yyyy-MM-dd HH:mm:ss'}}</span>
					<div style="width: 400px;word-wrap:break-word">{{item.content}}</div>
					<div ng-click="delRJComm(item.id);" 
						class="fa fa-2x fa-times close"></div>
						<hr/>
				</div>
			</div>
		</div>
	</div>
	
	<hr/>
	
	<div class="mytable">
		<div class="title">
			<span>
				向企业投递的简历
			</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>人选姓名</th>
					<th>最近所在公司</th>
					<th>当前职务</th>
					<th>联系电话</th>
					<th>企业反馈</th>
					<th>反馈时间</th>
					<th>投递时间</th>
					<th>推荐人</th>
					<th ng-show="beyond=='my'"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="!pubresumes || pubresumes.length == 0 ">
					<td>无人选</td>
				</tr>
				<tr ng-repeat="item in pubresumes" ng-class="{true:'tr-odd' , false: 'tr-even'}[$index%2 == 0]">
					<td>{{item.name}}</td>
					<td>未实现</td>
					<td>未实现</td>
					<td>{{item.phone}}</td>
					<td>{{item.verify_state}}</td>
					<td>{{item.verify_time | date : 'yyyy-MM-dd'}}</td>
					<td>{{item.verify_time | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
					<td>{{item.recom_user_desc}}</td>
					<td ng-show="beyond=='my'">
						<a class="btn btn-small btn-success"
							ng-click="item.prepareHandle = !item.prepareHandle"
							>操作</a>
						<a 
							class="btn btn-small btn-info btn-w4"
							ng-click="loadRJComm(item.jid);"
							>沟通记录</a>
						<table ng-show="item.prepareHandle">
							<tr>
								<td colspan="5"></td>
								<td>
									<a class="btn btn-small btn-success"
										ng-click="verify(item.jid, '初试');item.ishandling=true;"
										>初试</a>
									<a class="btn btn-small btn-success"
										ng-click="verify(item.jid,'复试');item.ishandling=true;"
										>复试</a>
									<a class="btn btn-small btn-success"
										ng-click="verify(item.jid,'终试');item.ishandling=true;"
										>终试</a>
									<br/>
									<a class="btn btn-small btn-info"
										ng-click="verify(item.jid,'offer');item.ishandling=true;"
										>offer</a>
									<a class="btn btn-small btn-info"
										ng-click="verify(item.jid,'入职');item.ishandling=true;"
										>入职</a>
									<br/>
									<a class="btn btn-small btn-danger btn-w4"
										ng-click="verify(item.jid,'审核不通过');item.ishandling=true;"
										>审核不通过</a>
									<a class="btn btn-small btn-danger btn-w4"
										ng-click="verify(item.jid,'面试不通过');item.ishandling=true;"
										>面试不通过</a>
									<a class="btn btn-small btn-danger btn-w4"
										ng-click="verify(item.jid,'候选人放弃');item.ishandling=true;"
										>候选人放弃</a>
									<br/>
									<a class="btn btn-small btn-danger"
										ng-click="verify(item.jid,'离职');item.ishandling=true;"
										>离职</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<hr/>
	
	<div class="mytable">
		<div class="title">
			<span>
				职位沟通记录
			</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>操作人</th>
					<th>内容</th>
					<th>时间</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="comm in jobcomms"  ng-class="{true:'tr-odd' , false: 'tr-even'}[$index%2 == 0]">
					<td style="width:100px;">{{comm.create_user_desc}}</td>
					<td style="width:auto;">{{comm.content}}</td>
					<td style="width:200px;;">{{comm.create_time | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
					<td style="width:100px;">
						<a class="btn btn-small btn-success btn-w4"
							ng-click="item.prepareDel = !item.prepareDel"
							>删除</a>
						<table ng-show="item.prepareDel">
							<tr>
								<td colspan="5"></td>
								<td>
									<a class="btn btn-small btn-danger btn-w4"
										ng-click="delComm(comm.id);"
										>确认删除</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<hr/>
	
	<div class="mytable" ng-show="beyond=='my'">
		<div class="title">
			<span>
				团队职位运作交流信息
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td>
						<textarea ng-model="addcomm" class="textarea"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<div class="btn btn-lblue" ng-click="addComm();">确认添加</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<hr/>
	
	<div class="mytable">
		<div class="title">
			<span>
				职位沟通记录
			</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>附件</th>
					<th>上传时间</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="atta in jobcommsFile"  ng-class="{true:'tr-odd' , false: 'tr-even'}[$index%2 == 0]">
					<td style="width:100px;">
						<a class="link" href="download/{{atta.fid}}" target="_blank">{{atta.name}}</a>
					</td>
					<td style="width:100px;">
						{{atta.upload_time | date:'yyyy-MM-dd HH:mm:ss'}}
					</td>
					<td style="width:100px;">
						<a class="btn btn-small btn-success btn-w4"
							ng-click="item.prepareDel = !item.prepareDel"
							>删除</a>
						<table ng-show="item.prepareDel">
							<tr>
								<td colspan="5"></td>
								<td>
									<a class="btn btn-small btn-danger btn-w4"
										ng-click="delCommFile(atta.fid);"
										>确认删除</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<hr/>
	
	<div class="mytable" ng-show="beyond=='my' || beyond=='team'">
		<div class="title">
			<span>
				职位沟通记录表
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td>
						<div core-fileupload ng-model="addcommFile" attas="attachs"></div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="btn btn-lblue" ng-click="addCommFile();">保存沟通记录表</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div core-formresult result="formresult"></div>
</div>