<div class="widget-team">
	<div class="teams">
		<div class="team formresult-success">
			<span class="fa fa-user">&nbsp;</span>
		</div>
		<div class="team formresult-success">
			<span
				ng-show="customname!=null"
				ng-click="customname=null"
				class="fa fa-times close">
					{{customname}}
				</span>
		</div>
	</div>
	<span class="btn btn-lblue teams-btn" ng-click="showdialog=true;">选择客户</span>
	<input name="customName" class="none" value="{{customname}}" />
	<div class="dialog-wrap" ng-show="showdialog">
		<div class="dialog">
			<div class="info">
				<div ng-click="showdialog=false;" 
					class="fa fa-2x fa-times close"></div>
				<span>请输入客户名进行查询</span>
				<span>只能查询出签约运作的客户</span>
				<span>至多显示100条记录</span>
				<input class="form-input" ng-model="customsearch" />
			</div>
			<div ng-repeat="item in customs">
				<span
					ng-click="ok(item);"
					class="fa fa-2x fa-check-circle ok">
						{{item.custom_name}}
					</span>
				<br/>
			</div>
		</div>
	</div>
</div>