<div class="searchzone">
	<div class="searchzone-title">查询条件</div>
	<table>
		<tr>
			<td class="td-odd">登录名</td>
			<td class="td-even">
				<input ng-model="searchLoginName" type="text" name="loginname" />
			</td>
			<td class="td-odd">用户名</td>
			<td class="td-even">
				<input ng-model="searchUserName" type="text" name="username" />
			</td>
		</tr>
		<tr>
			<td class="td-odd">用户类型</td>
			<td class="td-even">
				<input ng-model="searchUserType" type="radio" name="userType" checked="checked" value="" />全部
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input ng-model="searchUserType" type="radio" name="userType" value="2" />报表管理员
				<input ng-model="searchUserType" type="radio" name="userType" value="3" />上报用户
			</td>
			<td>用户状态</td>
			<td>
				<input ng-model="searchIsDisabled" type="radio" name="isDisabled" checked="checked" value="" />全部
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input ng-model="searchIsDisabled" type="radio" name="isDisabled" value="0" />可用
				<input ng-model="searchIsDisabled" type="radio" name="isDisabled" value="1" />已锁定
			</td>
		</tr>
		<tr>
			<td></td>
			<td colspan="3"><div class="btn btn-small btn-lblue" ng-click="reload();">查询</div></td>
		</tr>
	</table>
</div>

<a class="btn btn-success" href="#usermgr/addUser">新增用户</a>
<br />
<br />

<table class="table ng-table-responsive" ng-table="tableParams">
	<thead>
		<tr>
			<th></th>
			<th>登录名</th>
			<th>用户名</th>
			<th>性别</th>
			<th>出生日期</th>
			<th>用户类型</th>
			<th>用户状态</th>
			<th></th>
		</tr>
	</thead>
	<tr ng-show="!$data"><td colspan="4">加载中...</td></tr>
	<tr ng-repeat="item in $data">
		<td>{{ (queryParams.page - 1) * queryParams.rows + $index + 1 }}</td>
		
		<td>{{ item.login_name }}</td>
		<td>{{ item.user_name }}</td>
		<td>{{ item.sex == 1 ? "男" : ((item.sex == 2) ? "女" : "") }}</td>
		<td>{{ item.birthday | date : 'yyyy-MM-dd'}}</td>
		<td>{{ item.user_type == 2 ? "报表管理员" : ((item.user_type == 3) ? "上报用户" : "") }}</td>
		<td>{{ item.is_disabled == 0 ? "可用" : ((item.is_disabled == 1) ? "已锁定" : "") }}</td>
		
		<td class="handle">
			<a class="btn btn-small btn-lblue" 
				href="#usermgr/editUser/{{ item.id }}"
				ng-show="!item.ishanding"
				>编辑</a>
			
			<a class="btn btn-small btn-danger"
				ng-click="item.ishanding==true;disabledUser(item);"
				ng-show="item.is_disabled == 0 && !item.ishanding"
				>锁定</a>
			<a class="btn btn-small btn-success"
				ng-click="item.ishanding==true;enableUser(item);"
				ng-show="item.is_disabled == 1 && !item.ishanding"
				>解锁</a>
			<a class="btn btn-small btn-danger"
				ng-click="item.ishanding==true;delUser(item);"
				ng-show="!item.ishanding"
				>删除</a>
				
			<a class="btn btn-small btn-w4"
				ng-show="item.ishanding"
				>操作中...</a>
		</td>
	<tr>
</table>
