<div class="navigation">
	位置：
	<a href="#">首页</a>
</div>
<div class="content">
	<div class="commonfun">
		<h1>常用功能</h1>
		<br />
		<div>
			<div class="card">
				<a href="#custommgr/incustom"><i class="fa fa-user-md fa-5x"></i>录入客户</a>
			</div>
			<div class="card">
				<a href="#jobmgr/injob"><i class="fa fa-pencil-square-o fa-5x"></i>录入职位</a>
			</div>
			<div class="card">
				<a href="#resumemgr/inresume"><i class="fa fa-file-text-o fa-5x"></i>录入简历</a>
			</div>
			<div class="card">
				<a href="#resumemgr/list"><i class="fa fa-search fa-5x"></i>搜索简历</a>
			</div>
		</div>
	</div>
	
	<div class="pubinfo">
		<h1>公告
			<a class="hover" ng-click="showcommdialog=true;"><i class="fa fa-eye"></i></a>
		</h1>
		<marquee class="scroll" onmouseover=stop() onmouseout=start() scrollamount="2" direction="up" >
			<p ng-repeat="pub in data.pubs">
				{{ pub.content | trustHtml}}
				<br/>
				{{ pub.pub_time | date : 'yyyy-MM-dd HH:mm' }}
			</p>
		</marquee>
	</div>
	<div class="widget-team ng-hide" ng-show="showcommdialog == true;">
		<div class="dialog-wrap">
			<div class="dialog">
				<div ng-click="showcommdialog=false;" class="fa fa-2x fa-times close"></div>
				<div>
					<div ng-repeat="pub in data.pubs" style="width: 400px;">
						{{ pub.content | trustHtml}}
						<br/>
						{{ pub.pub_time | date : 'yyyy-MM-dd HH:mm' }}
						<hr />
					</div>
				</div>	
			</div>
		</div>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>我的职位</span>
			<a class="common" href="#/jobmgr/list/my">更多&gt;&gt;</a>
		</div>
		<table>
			<thead>
				<tr>
					<th>招聘职位</th>
					<th>职位状态</th>
					<th>职位年薪</th>
					<th>工作地点</th>
					<th>汇报对象</th>
					<th>执行团队</th>
					<th>需求人数</th>
					<th>创建时间</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="!data.myjobs || data.myjobs.length == 0">
					<td colspan="8">无记录</td>
				</tr>
				<tr ng-repeat="item in data.myjobs" ng-class="{true:'tr-odd' , false: 'tr-even'}[$index%2 == 0]">
					<td>
						<a class="link" 
						href="#jobmgr/viewjob/{{item.id}}">{{ item.name }}</a></td>
					<td>{{ item.state }}</td>
					<td>{{ item.pay_min }} - {{ item.pay_max }}</td>
					<td>{{ item.workplace }}</td>
					<td>{{ item.report_obj }}</td>
					<td>{{ item.teams_desc }}</td>
					<td>{{ item.require_people }}</td>
					<td>{{ item.create_time | date : 'yyyy-MM-dd HH:mm '}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>我的客户</span>
			<a class="common" href="#/custommgr/list/my">更多&gt;&gt;</a>
		</div>
		<table>
			<thead>
				<tr>
					<th>公司名称</th>
					<th>客户状态</th>
					<th>负责人</th>
					<th>联系电话</th>
					<th>更新时间</th>
					<th>来源</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="!data.mycustoms || data.mycustoms.length == 0">
					<td colspan="6">无记录</td>
				</tr>
				<tr ng-repeat="item in data.mycustoms" ng-class="{true:'tr-odd' , false: 'tr-even'}[$index%2 == 0]">
					<td>
						<a class="link"
						href="#custommgr/viewcustom/{{item.id}}">{{ item.custom_name }}</a></td>
					<td>{{ item.state }}</td>
					<td>{{ item.contact_name }}</td>
					<td>{{ item.contact_cellphone == null ? item.contact_landline : item.contact_cellphone}}</td>
					<td>{{ item.last_update_time | date : 'yyyy-MM-dd HH:mm '}}</td>
					<td>{{ item.source }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>我的工作绩效</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>服务客户</th>
					<th>签约客户</th>
					<th>录入职位</th>
					<th>客户评语</th>
					<th>新增简历</th>
					<th>推荐人选</th>
					<th>简历评语</th>
					<th>合作职位</th>
					<th>上岗人数</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="background-color: #CA7777; color: #fff;">{{ data.myscore[0].custom_serv }}</td>
					<td style="background-color: #86CA77; color: #fff;">{{ data.myscore[0].custom_in }}</td>
					<td style="background-color: #9977CA; color: #fff;">{{ data.myscore[0].job_in }}</td>
					<td style="background-color: #9B2121; color: #fff;">{{ data.myscore[0].custom_comm }}</td>
					<td style="background-color: #CA77BF; color: #fff;">{{ data.myscore[0].resume_add }}</td>
					<td style="background-color: #CA9777; color: #fff;">{{ data.myscore[0].resume_pub }}</td>
					<td style="background-color: #E44444; color: #fff;">{{ data.myscore[0].resume_comm }}</td>
					<td style="background-color: #5052DD; color: #fff;">{{ data.myscore[0].job_team }}</td>
					<td style="background-color: #4F7B5B; color: #fff;">{{ data.myscore[0].job_work }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
