<div class="navigation">
	位置：
	<a href="#">首页</a>
</div>
<div class="content">
	<div class="commonfun">
		<h1>常用功能</h1>
		<br />
		<div>
			<div class="card">
				<i class="fa fa-user-md fa-5x"></i>
				录入客户
			</div>
			<div class="card">
				<i class="fa fa-pencil-square-o fa-5x"></i>
				录入职位
			</div>
			<div class="card">
				<i class="fa fa-file-text-o fa-5x"></i>
				录入简历
			</div>
			<div class="card">
				<i class="fa fa-search fa-5x"></i>
				搜索简历
			</div>
		</div>
	</div>
	
	<div class="pubinfo">
		<h1>公告</h1>
		<marquee class="scroll" onmouseover=stop() onmouseout=start() scrollamount="2" direction="up" >
			<p><font>滚动文字</font ></p >
			<p><font>滚动文字</font ></p >
		</marquee>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>我的职位</span>
			<a class="common">更多&gt;&gt;</a>
		</div>
		<table>
			<thead>
				<tr>
					<th>招聘职位</th>
					<th>职位状态</th>
					<th>职位年薪</th>
					<th>工作地点</th>
					<th>汇报对象</th>
					<th>执行团队</th>
					<th>需求人数</th>
					<th>创建时间</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>工程造价总监</td>
					<td>运作</td>
					<td>10-30</td>
					<td>沈阳</td>
					<td>总经理</td>
					<td>李华,周董</td>
					<td>1</td>
					<td>2012-11-11</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>我的客户</span>
			<a class="common">更多&gt;&gt;</a>
		</div>
		<table>
			<thead>
				<tr>
					<th>客户分类</th>
					<th>公司名称</th>
					<th>负责人</th>
					<th>联系电话</th>
					<th>项目</th>
					<th>最近动态</th>
					<th>更新时间</th>
					<th>来源</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>潜在客户</td>
					<td>北京奥康</td>
					<td>李小姐</td>
					<td>1341231231231</td>
					<td>0</td>
					<td>已发布资料</td>
					<td>2012-11-11</td>
					<td>广告呼入</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mytable">
		<div class="title">
			<span>我的工作绩效</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>服务客户</th>
					<th>签约客户</th>
					<th>录入职位</th>
					<th>客户评语</th>
					<th>新增简历</th>
					<th>推荐人选</th>
					<th>简历评语</th>
					<th>合作职位</th>
					<th>上岗人数</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>132</td>
					<td>6</td>
					<td>2</td>
					<td>4</td>
					<td>5</td>
					<td>66</td>
					<td>12</td>
					<td>3</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
